*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("../images/forest-game-background-application-vector-design-tileable-horizontally-parallax-effect-76618481.jpg");
}
